@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'ClashDisplay';
    src: local('Clash Display Regular'), local('ClashDisplay-Regular'), url(../../fonts/ClashDisplay-Regular.otf);
    font-weight: 400;
    font-display: swap;
}

@layer base {
body{
    @apply font-sans;
}
.footer-nav li{
    @apply pr-[35px];
    @apply pb-[17px] md:pb-0;
}
.nav ul li, .footer-nav li{
    @apply lg:pr-[64px] md:pr-[35px];
}
.mobile-nav ul li{
    @apply border-b-[1px];
    @apply py-[24px];
}
.bottom a{
    @apply underline;
    @apply tracking-tighter;
}
input::placeholder{
    @apply text-[13px] lg:text-[16px];
}
}